<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ this.title }} &middot; {{ config.PROJECT.name }} </title>
    {% include "includes/head.html" %}
  </head>

  <body>
    {% include "includes/navbar.html" %}
    <div class="wrapper">
      <div class="container py-5">
      {% block content %}
      {% endblock%}
      </div>
    </div>
    {% include "includes/footer.html" %}
  </body>
</html>
